{% extends 'base.html' %}
{% load static %}
{% block title %} IvanovBunina {% endblock %}
{% block content %}
<body>
  <section class="home">
      <div>
          <h1>{{ content.title_main }}</h1>
          <p>{{ content.content_main}} </p>
      </div>
  </section>

  <section class="home">
      <div class="box">
          <h2>{{ content.title_about}}</h2>
          <p>{{ content.content_about}}</p>

          <div class="items">
              <div>
                  <img src="{{ images.image_about_us }}" alt="">
                  <h3>{{ content.vitalina_title }}</h3>
                  <p>{{ content.vitalina_description }}</p>
              </div>

              <div>
                  <img src="{{ images.image_about_them }}" alt="">
                  <h3>{{ content.alexander_title }}</h3>
                  <p>{{ content.alexander_description }}</p>
              </div>
          </div>
      </div>
  </section>

  <section class="home">
      <iframe width="750" height="450" src="https://www.youtube.com/embed/naZCYv3BZM8"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
  </section>

  <section class="home">
      <div class="box">
          <h2>Контакты</h2>

          <div class="minibox">
              <a href="tel:{{ tel_number }}">
                  <p>{{ tel_number }}</p>
              </a>

              <a href="mailto:{{ work_email}}">
                  <p>{{ work_email}}</p>
              </a>

              <div class="social">
                  <div>
                      <img src="{% static '/img/content/instagram.svg' %}" alt="">
                  </div>

                  <div>
                      <img src="{% static '/img/content/telegram.svg' %}" alt="">
                  </div>

                  <div>
                      <img src="{% static '/img/content/youtube.svg' %}" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>
</body>
{% endblock %}
