{% load static %}
{% with request.resolver_match.view_name as view_name %}

<ul>
    <li class="{% if view_name  == 'content:index' %}active{% endif %}"> <a href="{% url 'content:index' %}">Главная</li>
    <li class="{% if view_name  == 'schedule:schedule' %}active{% endif %}"> <a href="{% url 'schedule:schedule' %}">Расписание</a></li>
    <li class="{% if view_name  == 'courses:courses' %}active{% endif %}"> <a href="{% url 'courses:courses' %}">Курсы</a></li>
{#    <li>Оплата</li>#}
    <li class="{% if view_name  == 'content:contacts' %}active{% endif %}"> <a href="{% url 'content:contacts' %}">Контакты</a></li>
</ul>

<div class="lang">
    <div class="activeLang" onclick="openDropDown()">
        <p>RU</p>
        <ion-icon name="chevron-down-outline"></ion-icon>
    </div>

    <div class="list">
        <div class="active">RU</div>
        <div>EN</div>
    </div>
</div>

{% if not user.is_authenticated %}
  <button><a href="{% url 'users:login' %}">Авторизация</a></button>
{% endif %}
{% if user.is_authenticated %}
  <button><a href="{% url 'users:logout' %}">Выход</a></button>
  <p>{{ user.username }}</p>
{% endif %}

<ion-icon class="menu" onclick="openMenu()" name="menu-outline"></ion-icon>


{% endwith %}