{% extends 'base.html' %}
{% load static %}
{% block title %} Курсы {% endblock %}
{% block content %}
</body>
    <main>
        <section class="courses">
            <h2>Курсы</h2>

            <div class="list"></div>

            <button>Показать еще</button>
        </section>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static '/js/app.js' %}"></script>
    <script>
    const items = [
        {% for course in courses %}
            {
                id: {{ forloop.counter }},
                image: '{{ course.preview }}',
                title: '{{ course.title }}',
                price: {% if course not in available_courses and course.title != 'Панда' %} '$15' {% else %} '' {% endif %},
                description: '{{ course.description }}',
                link: {% if course not in available_courses and course.title != 'Панда' %} 'https://www.google.com'{% else %} '{% url 'courses:lessons' course.slug %}' {% endif %},
                message: {% if course not in available_courses and course.title != 'Панда' %} 'Приобрести курс' {% else %} 'Ссылка на курсы' {% endif %},
            },
        {% endfor %}
    ];

    const sortedItems = items.sort((a, b) => {
        if (a.message === 'Ссылка на курсы' && b.message === 'Приобрести курс') {
            return -1; // Первый элемент должен идти перед вторым
        } else if (a.message === 'Приобрести курс' && b.message === 'Ссылка на курсы') {
            return 1; // Первый элемент должен идти после второго
        } else {
            return 0; // Сохранить текущий порядок
        }
    });

    document.querySelector('.courses .list').innerHTML = sortedItems
        .map(
            item => `
            <div class="courseItem">
                <img src="${item.image}" alt="">
                <div class="box">
                    <h3>${item.title}</h3>
                    <p>${item.description}</p>
                    <div>
                        <a href="${item.link}">${item.message}</a>
                        <h2>${item.price}</h2>
                    </div>
                </div>
            </div>
        `
        )
        .join(' ');
</script>

</body>
{% endblock %}
